flactags.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Generated by: https://www.freeformatter.com/xsd-generator.html (Venetian Blind format) -->
  <xs:element name="flactags" type="FlacTags"/>
  <!-- IMPORTANT: element names must be lowercase only.
       This is to assist the lyric cleaning process which needs to search for odd case combinations, eg.
       "last line of lyricWritten by"
       Camel case elements names are mistaken for garbage to be removed...
   -->
  <xs:complexType name="FlacTags">
    <xs:sequence>
      <xs:element type="Directory" name="directory" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Directory">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="FileList" name="files"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FileList">
    <xs:sequence>
      <xs:element type="FileMetadata" name="list" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FileMetadata">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="artist"        minOccurs="0"/>
      <xs:element type="xs:string" name="album"         minOccurs="0"/>
      <xs:element type="xs:string" name="filemd5"       minOccurs="0"/>
      <xs:element type="xs:string" name="calcpcmmd5"    minOccurs="0"/>
      <xs:element type="xs:string" name="strmpcmmd5"    minOccurs="0"/>
      <xs:element type="xs:string" name="lyric"         minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
