lyrics.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Generated by: https://www.freeformatter.com/xsd-generator.html (Venetian Blind format) -->
  <xs:element name="lyrics" type="lyricsType"/>
  <xs:complexType name="lyricsType">
    <xs:sequence>
      <xs:element type="directoryType" name="directory" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="directoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="artist"/>
      <xs:element type="xs:string" name="album"/>
      <xs:element type="filesType" name="files"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filesType">
    <xs:sequence>
      <xs:element type="fileType" name="file" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="lyric"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
